# Ignore everything
/*

# Unignore specific files
!.gitignore
!.zshrc
!.tmux.conf
!.ideavimrc
!.config/

# Keep ignored inside .config
.config/yarn
.config/gtk-2.0
.config/StardewValley
.config/SmartSetMasterErgo (Mac)
.config/karabiner
.config/wireshark
.config/yarn
.config/zed
.config/jgit
.config/fish
.config/github-copilot
**.DS_STORE
